
body {
    font-family: 'Roboto', sans-serif;
    color:#434455;
    background-color:#FFF;
    letter-spacing: 0.02em;
}

ul {
    list-style-type: none; 
    margin: 0;
    padding-left: 0;
   }

   h1, h2, h3, p {
    margin: 0;
}

.container { 
    max-width: 1158px; 
    padding-left: 15px; 
    padding-right: 15px;
    margin: 0 auto;
    padding: 0 15px;

 /*-- header --*/

 .header-main {
    display:flex;
    gap: 12px;
    flex-wrap: wrap;
    }

.nav-menu-logo {
  font-family:'Raleway', sans-serif;  
  text-decoration: none;  
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;

  }
  .nav-menu-span {
    color:#2e2f42;  
    }
 
.nav-menu-logo:hover,
.nav-menu-logo:active {
    color: #404BBF;  
    }

.nav-menu-list {
    display:flex;
    flex-direction:row;
    gap: 8px;
    }
 

.nav-menu-item {
    text-decoration: none;  
    color: #2e2f42; 
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
   
 }
 
.nav-menu-item:focus,
.nav-menu-item:hover
 {
    color: #404BBF;   
}
.site-contacts  {
   
    font-style: normal; 
  
}

.site-contacts-item {
    text-decoration: none;  
    color: #434455; 
    font-size: 16px;
    line-height: 1.5;
    flex-direction:row; 
    display:flex;
}

.site-contacts-item:hover,
.site-contacts-item:focus {
    color: #404bbf;
}


/*-- section 1 --*/

.section-main {
    background-color: #2E2F42;
    color:#FFF;
}

.section-main-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    margin: 0 auto;
}

.order-button {
    background-color: #4D5AE5;
    cursor: pointer;
    color:#FFF; 
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin: 0 auto;
} 

button:hover,
button:focus { 
    background-color: #404bbf;
}

/*-- section 2 --*/

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.section-strength-title {
    font-size: 20px;
    font-weight: 500;
    line-height:1.2;
    letter-spacing: 0.02em;
    color:#2e2f42; 
   }

.section-strength-text {
    font-size: 16px;
    font-weight: 400;
    line-height:1.5;
   }

   /*-- section 3 --*/

.section-team { 
    line-height:1.5;
    letter-spacing: 0.02em;
    background-color: #F4F4FD;
}
.section-team-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2e2f42;
 }
 li .section-team-list {
    display:flex;
    flex-direction:row;
    background-color: #FFFFFF;
}


.section-team-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
  }
.section-team-text {
    font-size: 16px;
    font-weight: 400;
  }
    
  /*-- section 4 --*/

  .section-portfolio-list  {
display: flex;
padding-bottom: 0px;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 32px;
}

.section-portfolio-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.section-portfolio-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
}
.section-portfolio-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;

}

 /*-- footer --*/

.bottom-section {
    background-color: #2E2F42;
    color: #F4F4FD;
}

.footer-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
.bottom-logo-span {
  color: #f4f4fd;
}